@model RootMovie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table">

    <thead><th>ID</th>
    <th>Movie Name</th>
    <th>Movie Year </th>
    </thead>
    @foreach(var a in Model.Movies){   
        <tbody>
        <th>@a.Id</th>
        <td>@a.Title</td>
        <th>@a.Year</th>
        </tbody>}
</table>

