@model RootMovie

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table">

    <thead><th>ID</th>
    <th>Movie Name</th>
    <th>Movie Year </th>
    </thead>
    <tbody>
    <td> </td>
    <th></th>
    <th></th>
    </tbody>

</table>
