@{
    ViewData["Title"] = "Home Page";
}
<span class="border border-light">   
    <label for="idmovie">İnput a Movie ID</label>
    <input type="number" class = "form-control" id="idmovie" cols="30" rows="10">
</span>
<span class="border-info">
    <button id="btnId" onclick = "getDetail">
        Search Movie 
    </button>


</span>

